
@{
    ViewData["Title"] = "Samples";
}

<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h1 class="display-4">Samples</h1>
            <p class="my-2">
                These samples demonstrates how to create worksheets in an MVC controller let the user download them as files
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-5 col-sm-12 mt-3 p-3 border border-dark rounded-lg mr-1">
        <h3>Download workbook 1</h3>
        <p>This sample calls the <i>WebSample1</i> action in the <i>SamplesController</i>. The workbook is created in memory, without any filesystem access.</p>
        <a href="/Samples/WebSample1">Download workbook</a>
    </div>
    <div class="col-lg-5 col-sm-12 mt-3 p-3 border border-dark rounded-lg ml-1">
        <h3>Download workbook 2</h3>
        <p>This sample calls <i>WebSample2</i> action in the <i>SamplesController</i>. It uses <i>LoadFromCollection</i> to load a collection of 1000 objects into the workbook.</p>
        <a href="/Samples/WebSample2">Download workbook</a>
    </div>
</div>


