@{
    ViewData["Title"] = "Home Page";
}

    <div class="row">
        <div class="col-12">
            <div class="text-center">
                <div class="text-center">
                    <h1 class="display-4">EPPlus web samples for ASP.NET</h1>
                    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <h3>Welcome to the sample project!</h3>
            <ul>
                <li><a href="/Samples/">Create and download a workbook</a></li>
                <li><a href="/HtmlExport/">Html export</a></li>
                <li><a href="/JsonExport/">JSON export</a></li>
                <li><a href="/BlazorSamples/">Blazor</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
                <h3>Configuration</h3>
                <p class="my-3">In this sample we have configured the LicenseContext property in <i>appSettings.json</i>.</p>
                <pre class="bg-light">
{
  "EPPlus": {
     "ExcelPackage": {
        "LicenseContext": "NonCommercial"
     }
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*"
}
            </pre>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3>Clone this repo</h3>
            <p>You can explore the code in this web app by cloning this <a href="https://github.com/EPPlusSoftware/EPPlus.WebSamples" target="blank">GitHub repository</a></p>
        </div>
    </div>
