
@{
    ViewData["Title"] = "JsonExport Samples";
}
<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/JsonExport">Json export samples</a></li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h1 class="display-4">Json export</h1>
            <p class="my-2 font-weight-bold">
                These samples demonstrates the html export capabilities of EPPlus.
            </p>
            <div class="alert alert-info text-left border border-info">
                In these samples we have connected JSON data exported from EPPlus to other frontend libraries. Please note that EPPlus does not come with an integration to these libraries and that the intention with these samples is to show how you can use the exported data to integrate with any frontend library of your choice.
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul>
            <li><a href="/JsonExport/Sample1">Sample 1</a> - Export json from a spreadsheet server side and use in a client side chart.</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>Also see the article on this feature in our <a href="https://github.com/EPPlusSoftware/EPPlus/wiki/JSON-Export" target="blank">developer wiki</a></p>
    </div>
</div>