
@{
    ViewData["Title"] = "Blazor Samples";
}
<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/BlazorSamples">Blazor samples</a></li>
                <li class="breadcrumb-item active" aria-current="page">Sample 1</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h1 class="display-4">Blazor</h1>
            <p class="my-2 font-weight-bold">
                These samples demonstrates usage of EPPlus with Blazor.
            </p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul>
            <li><a href="/BlazorSamples/Sample1">Sample 1</a> - Generate workbook client side with Blazor web assembly</li>
        </ul>
    </div>
</div>