@model EPPlus.WebSampleMvc.NetCore.Models.HtmlExport.ExportRange5Model
<style type="text/css">
    @Html.Raw(Model.Css)
</style>
<div class="row">
    <div class="col">
        @Html.Raw(Model.Html)
    </div>
</div>
