
@{
    ViewData["Title"] = "Html export";
}
<div class="row">
    <div class="col">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Html export</li>
            </ol>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="text-center">
            <h1 class="display-4">Html export</h1>
            <p class="my-2 font-weight-bold">
                These samples demonstrates the html export capabilities of EPPlus.
            </p>
            <div class="alert alert-info text-left border border-info">
                In these samples we have connected html exported from EPPlus to other frontend libraries, such as Google Charts and Chart.js. Please note that EPPlus does not come with an integration to these libraries and that the intention with these samples is to show how you can use the exported data to integrate with any frontend library of your choice.
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul>
            <li><a href="/HtmlExport/ExportTable1">Sample 1</a> - Export table with themes and built in table style</li>
            <li><a href="/HtmlExport/ExportTable2">Sample 2</a> - Export table with built in table style, connect to <a href="https://developers.google.com/chart" target="_blank">Google Charts</a></li>
            <li><a href="/HtmlExport/ExportTable3">Sample 3</a> - Export table with over 2 000 currency rates, connect to google line chart</li>
            <li><a href="/HtmlExport/ExportTable4">Sample 4</a> - Export table with over 2 000 currency rates, connect to <a href="https://www.chartjs.org/" target="_blank">Chart.js</a> line chart</li>
            <li><a href="/HtmlExport/ExportRange5">Sample 5</a> - Export a range from a worksheet with maintained column width and styling.</li>
            <li><a href="/HtmlExport/ExportRanges6">Sample 6</a> - Export a multiple ranges from a workbook with a common css.</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col">
        <p>Also see the article on this feature in our <a href="https://github.com/EPPlusSoftware/EPPlus/wiki/HTML-Export" target="blank">developer wiki</a></p>
    </div>
</div>